
.Item span {
    font-size: 14px;
}
.Item span.folder.active {
    font-weight: bold;
    color: #813FE8;
    font-size: 19px;
}
.Item span.folder {
    color: #E0D101;
    font-weight: bold;
}
.Item span.js {
    color: #FFD300;
    font-weight: normal;
}
.Item span.ruby {
    color: #EB523F;
    font-weight: normal;
}
.Item span.exe {
    color: #3F85E8;
    font-weight: normal;
}
.Item span.bat {
    color: #333;
    font-weight: normal;
}
.Item span.sass {
    color: #EB73CF;
    font-weight: normal;
}
.Item span.css {
    color: #030CEB;
}
.Item span.react {
    color: #45C3FF;
}