.ButtonsSorting .btn{
    padding: 10px 25px;
    font-family: Montserrat;
    cursor: pointer;
    background-color: #C9C9D1;
}
.ButtonsSorting .btn.enable {
    background-color: #A665FF;
    color: #fff;
}