.Client {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #B7C2C7;
}
.Client span{
    flex: 1;
    color: #333;
    font-size: 17px;
    text-align: center;
}
.Client span.actions {
    display: flex;
    flex: 2;
    justify-content: flex-end;
}
.Client span.actions .btn {
    padding: 13px 25px;
    outline: 0;
    border: 0;
    font-size: 13px;
    font-family: Montserrat;
    cursor: pointer;
    
}
.Client span.actions .btn.delete {
    background-color: #EB3021;
    color: #fff;
    margin-right: 30px;
}
.Client span.actions .btn.edit {
    background-color: #3D70FF;
    color: #fff;
}
.Client span.actions .btn:active {
    box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.5);
}
.Client span.state{
    background: #00EB25;
    padding: 13px 0;
}
.Client span.state.blocked {
    background: #F02952;
    color: #fff;
}